# PyCity Schools Analysis

- Your analysis here

---

In [12]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # allows all output to be printed instead of the default 'last'

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [13]:
# Calculate the total number of unique schools
# school_count = school_data_complete["School ID"].value_counts().sort_values(ascending=True)
school_count = len(school_data_complete["School ID"].unique())

# Print statements
print(school_count)
print(f"There are {school_count} total unique schools")

15
There are 15 total unique schools

In [14]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].nunique()

# Print statements
print(student_count)
print(f"There are {student_count} total students in these schools")

39170
There are 39170 total students in these schools

In [15]:
# Calculate the total budget
# How do I find total budget based on unique School ID only?
# TODO - There must be a more accurate way to do this, but how would I do it?
total_budget = school_data_complete["budget"].unique().sum()
total_budget = "{:,}".format(total_budget)

# Print statements
print(len(school_data_complete["budget"].unique())) # - this verifies that there is a unique budget for each school (although not the best approach)
print("{:,}".format(school_data["budget"].sum()))
print(total_budget)
print(f"The total budget for all schools is ${total_budget}")

15
24,649,428
24,649,428
The total budget for all schools is $24,649,428

In [16]:
# Calculate the average (mean) math score
average_math_score = "{:.2f}".format(school_data_complete["math_score"].mean())

# Print statements
print(average_math_score)
print(f"The average math score for all students is {average_math_score}")

78.99
The average math score for all students is 78.99

In [17]:
# Calculate the average (mean) reading score
average_reading_score = "{:.2f}".format(school_data_complete["reading_score"].mean())

# Print statements
print(average_reading_score)
print(f"The average reading score for all students is {average_reading_score}")

81.88
The average reading score for all students is 81.88

In [18]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
# NOTE - this was the original code
# passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"] 
# passing_math_percentage = passing_math_count / float(student_count) * 100
# passing_math_percentage
passing_math_percentage = (
    student_data[student_data["math_score"] >= 70]["Student ID"].count()
    / student_count
    * 100
)
float(f"{passing_math_percentage:.2f}")

# passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)]["student_name"]
# passing_math_count_df = passing_math_count.to_frame()

# passing_math_count_df

# NOTE - alternative way of finding the value
# pass_percentage = "{:.2f}".format((passing_math_count_df.size / student_count) * 100)
# pass_percentage = (passing_math_count_df.size / student_count) * 100
# pass_percentage

# f"{pass_percentage:.2f}"

74.9808526933878

74.98

In [49]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_percentage = (
    student_data[student_data["reading_score"] >= 70]["Student ID"].count()
    / student_count
    * 100
)
# f"{passing_reading_percentage:.2%}" - Can convert decimal value to percentage
float(f"{passing_reading_percentage:.2f}")

85.81

In [20]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  student_count * 100
overall_passing_rate

65.17232575950983

In [21]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = 

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

SyntaxError: invalid syntax (917079634.py, line 2)

## School Summary

In [50]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_summary = school_types.to_frame()

# Adding student count per school from school_data
school_summary["school size"] = school_data["size"].values

# Calculate the total school budget and per capita spending per school from school_data
school_summary["school size"] = school_data["size"].values


school_summary.sort_values("school_name")

                           type  school size
school_name
Bailey High School     District         4976
Cabrera High School     Charter         1858
Figueroa High School   District         2949
Ford High School       District         2739
Griffin High School     Charter         1468
Hernandez High School  District         4635
Holden High School      Charter          427
Huang High School      District         2917
Johnson High School    District         4761
Pena High School        Charter          962
Rodriguez High School  District         3999
Shelton High School     Charter         1761
Thomas High School      Charter         1635
Wilson High School      Charter         2283
Wright High School      Charter         1800

In [55]:
# Calculate the total student count per school from school_data
school_summary["school size"] = school_data["size"].values
per_school_counts = school_data.set_index("school_name")["size"] # .to_frame() # school_data["size"]
per_school_counts

# View as a Data Frame
# per_school_counts_df = per_school_counts.to_frame()
# per_school_counts_df

# Sort in alphabetical order of school name
# school_summary.sort_values("school_name")

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

                       size
school_name
Huang High School      2917
Figueroa High School   2949
Shelton High School    1761
Hernandez High School  4635
Griffin High School    1468
Wilson High School     2283
Cabrera High School    1858
Bailey High School     4976
Holden High School      427
Pena High School        962
Wright High School     1800
Rodriguez High School  3999
Johnson High School    4761
Ford High School       2739
Thomas High School     1635

In [75]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index("school_name")["budget"]
per_school_budget_df = per_school_budget.to_frame("Total School Budget") 


per_school_capita = (per_school_budget / per_school_counts).map(int) 
per_school_capita_df = per_school_capita.to_frame(name="Per School Capita") 

per_school_budget_df
per_school_capita_df

                       Total School Budget
school_name
Huang High School                  1910635
Figueroa High School               1884411
Shelton High School                1056600
Hernandez High School              3022020
Griffin High School                 917500
Wilson High School                 1319574
Cabrera High School                1081356
Bailey High School                 3124928
Holden High School                  248087
Pena High School                    585858
Wright High School                 1049400
Rodriguez High School              2547363
Johnson High School                3094650
Ford High School                   1763916
Thomas High School                 1043130

                       Per School Capita
school_name
Huang High School                    655
Figueroa High School                 639
Shelton High School                  600
Hernandez High School                652
Griffin High School                  625
Wilson High School                   578
Cabrera High School                  582
Bailey High School                   628
Holden High School                   581
Pena High School                     609
Wright High School                   583
Rodriguez High School                637
Johnson High School                  650
Ford High School                     644
Thomas High School                   638

In [14]:
# Calculate the average test scores per school from school_data_complete
per_school_math =
per_school_reading =

In [15]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math =
school_students_passing_math =

In [16]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading =
school_students_passing_reading =

In [17]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [18]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = 

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools =
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores =
eleventh_grader_math_scores =
twelfth_grader_math_scores =

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores =
tenth_grader_reading_scores =
eleventh_grader_reading_scores =
twelfth_grader_reading_scores =

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade =

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [24]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [25]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

In [27]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary =

# Display results
spending_summary

## Scores by School Size

In [29]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [30]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] =

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

In [32]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =

# Display results
size_summary

## Scores by School Type

In [34]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary